body{
    margin: 0px;
}
h1{
    font-size: 40px;
    font-weight: 200;
}
.upper-sec{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    display:flex;
}
.name-highlight{
    color: #EF7095;
    font-weight:500;
    font-size: 45;
}
.half-width{
    width: 45%;
    margin-bottom: 50px;
    padding-left:4%;
}
.half-width p{
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 100;
}
.half-width img{
    width: 100%;
}
.button{
    text-decoration: none;
    background-color: #EF7095;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
.button a:hover{
    cursor: pointer;
    color: #EF7095;
    background-color: white;
}
.mid-sec{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    display:flex;
}