body{
    margin: 0px;
}
h1{
    font-size: 40px;
    font-weight: 200;
}
.upper-sec{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    display:flex;
}
.name-highlight{
    color: #EF7095;
    font-weight:500;
    font-size: 45;
}
.half-width{
    width: 45%;
    margin-bottom: 50px;
    padding-left:4%;
}
.half-width p{
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 100;
}
.half-width img{
    width: 100%;
}
.button{
    text-decoration: none;
    background-color: #EF7095;
    color: white;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
}
.button a:hover{
    cursor: pointer;
    color: #EF7095;
    background-color: white;
}
.mid-sec{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    display:flex;
}
.bottom-sec {
	display:flex;
	margin-bottom:12%;
	background-image:url("images/latest-work-bg.png");
	background-repeat:no-repeat;
}
.bottom-sec div{
	width:31%;
	margun-left:2%;
	margin-right:2%;
	border:1px solid purple;
	border-radius:5px;
	box-shadow:red;
	
}
.bottom-sec img {
	width:100%;
}
.bottom-sec h1 {
	text-align:center;
}
.center {
	text-align:center;
}